# Python cache

__pycache__/
*.py[cod]

# Packaging artifacts

*.egg-info/
build/
dist/

# Jupyter

.ipynb_checkpoints/


# Environment folders (if ever created)

.venv/
env/
ENV/

# OS / editor

.DS_Store
.vscode/
.idea/

# Downloads

*.exe
Miniconda*.exe
